# 제주 예비창업자를 위한 업종별 카드 매출과 매장수 데이터 분석

In [4]:
%ls ..\..\datasets\

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 2689-FE44

 C:\Users\수진\Documents\multicampus_4\datasets 디렉터리

2021-07-15  오전 08:40    <DIR>          .
2021-07-15  오전 08:40    <DIR>          ..
2021-07-06  오후 03:03       174,746,926 1_제주 예비창업자를 위한 업종별 카드 매출과 매장수 데이터 활용.csv
2021-07-15  오전 08:34         9,314,360 3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용.csv
2021-07-08  오후 06:24        89,386,931 5_제주 전기버스 우선도입노선 파악을 위한 데이터(2020.4).csv
2021-07-15  오전 08:40       185,569,016 jeju_sujin.csv
2021-07-15  오전 08:34         1,086,894 제주특별자치도_개별관광(FIT)_증가에_따른_제주_관광객_소비패턴_변화_분석_BC카드_빅데이터_내국인관광객_20170216.csv
2021-07-15  오전 08:34         7,480,630 제주특별자치도_제주도장소(POI)데이터_20151231.csv
               6개 파일         467,584,757 바이트
               2개 디렉터리  96,148,062,208 바이트 남음

In [5]:
filepath = '..\\..\\datasets\\jeju_sujin.csv'

## 필요 라이브러리 불러오기

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
pd.options.display.max_columns = 100
pd.options.display.float_format = lambda x: '%.3f' % x
# pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [15]:
plt.rc('font', family='Malgun Gothic')

## 데이터 불러오기

In [16]:
df_card = pd.read_csv(filepath)
df_card.head()

,연도,월,분기,시도명,지역구분,읍면동명,업종명 대분류,업종명,이용자 구분,관광구분,연령대,성별,이용금액,매장수
0,2017,1,1,서귀포시,도심,강정동,소매업,슈퍼마켓,제주도민,도민,50.0,여성,365160,214
1,2017,1,1,제주시,도심,삼도일동,숙박업,여관업,제주도민,도민,60.0,여성,40000,1610
2,2017,1,1,제주시,도심,삼양이동,숙박업,여관업,제주도민,도민,20.0,여성,162000,1610
3,2017,1,1,제주시,도심,삼양이동,숙박업,여관업,제주도민,도민,50.0,남성,70000,1610
4,2017,1,1,제주시,도심,삼도이동,숙박업,여관업,내국인,개별,40.0,남성,3150460,1610

In [17]:
df_card.shape

(1496856, 14)

# 분석 계획
(데이터 행 == 결제 건)이 아니라서 변수 분석만 가지고는 인사이트 도출할 수 없음 ㅠ
groupby사용해서 데이터프레임 서브셋 여러 개 만들어서 봐야 할 듯


1. 인기 업종 분석
  * 이용 금액이 높은 업종 
      - 주로 음식점, 소매업!!
      - 면세점 ** 
  * 매장 수 대비 이용 금액
      - 가성비(?) 높은 업종 골라낼 수 있지 않을까
      - ex) 돈많은 사람의 지갑 열기
      - 마케팅 전략을 몇가지 찾아보고 타당한 지 파악하는 방식
  
2. 이용자 구분 분석
  * 이용 금액이 높은 연령대, 성별, 국적 등  
      - 생각보다 외국인 관광객 데이터 비율이 적음
      - 아직 매출액으로는 분석을 안 해봐서 매출액으로 비교해 볼 예정
 
 
3. 계절에 따른 이용 금액
    - 분기별 건수는 비슷비슷 ... 다른 분들도 그런가요 어케 분석하징
    - 3분기(성수기)
    - 분기마다 잘 되는 업종/안 되는 업종 
    - 전년도 분기랑 비교!!!
    
  * 마케팅 인사이트 도출

## 유동인구가 높은 지역 TOP5

연동, 애월읍, ----

# 인기 업종 분석

## 이용 금액이 높은 업종

### 업종별 이용금액 및 매장수: df_industry

In [60]:
# 업종별 이용금액
df_store_expense = df_card.groupby(['연도', 
                                    '월', 
                                    '시도명', 
                                    '업종명 대분류', 
                                    '업종명'
                                   ])[['이용금액']].sum().reset_index()

In [61]:
# 업종별 매장수
df_store_count = df_card.groupby(['연도', 
                                  '월', 
                                  '시도명', 
                                  '업종명 대분류', 
                                  '업종명'
                                 ])[['매장수']].mean().reset_index()

In [62]:
# 업종별 이용금액 및 매장수
df_industry = pd.concat([df_store_expense, df_store_count['매장수']], axis=1)
df_industry.head()

     연도  월   시도명 업종명 대분류                   업종명       이용금액  매장수
0  2017  1  서귀포시    서비스업               골프장 운영업  846984613   17
1  2017  1  서귀포시    서비스업  그외 기타 분류안된 오락관련 서비스업    4919000    8
2  2017  1  서귀포시    서비스업       그외 기타 스포츠시설 운영업   20608500   18
3  2017  1  서귀포시    서비스업          기타 수상오락 서비스업    1165000   11
4  2017  1  서귀포시    서비스업                  마사지업    3387500    5

In [72]:
df_industry.groupby('업종명 대분류')[['이용금액']].sum().sort_values(by='이용금액', ascending=False)

                  이용금액
업종명 대분류
소매업      2499401125441
음식점업     1593671848885
숙박업       241689545110
서비스업      176037652855
임대업       169817451130
운송업       167807390749

## 매장수 대비 이용금액 살펴보기 
일명 가성비 높은 업종 찾기

In [85]:
df_industry_mean = df_industry.groupby(['업종명 대분류', '업종명'])[['이용금액','매장수']].mean().reset_index()
df_industry_mean = df_industry_mean.rename(columns={'이용금액':'평균이용금액', '매장수':'평균매장수'})
df_industry_mean.head()

  업종명 대분류                   업종명         평균이용금액  평균매장수
0    서비스업               골프장 운영업 1304465137.075 22.200
1    서비스업  그외 기타 분류안된 오락관련 서비스업    2814710.663  3.812
2    서비스업       그외 기타 스포츠시설 운영업   24322402.212 24.700
3    서비스업          기타 갬블링 및 베팅업   99828425.443  3.492
4    서비스업          기타 수상오락 서비스업    3811364.115 13.192

In [89]:
df_industry_mean['매장수대비이용금액'] = df_industry_mean['평균이용금액']/df_industry_mean['평균매장수']
df_industry_mean.head()

  업종명 대분류                   업종명         평균이용금액  평균매장수    매장수대비이용금액
0    서비스업               골프장 운영업 1304465137.075 22.200 58759690.859
1    서비스업  그외 기타 분류안된 오락관련 서비스업    2814710.663  3.812   738284.764
2    서비스업       그외 기타 스포츠시설 운영업   24322402.212 24.700   984712.640
3    서비스업          기타 갬블링 및 베팅업   99828425.443  3.492 28589361.277
4    서비스업          기타 수상오락 서비스업    3811364.115 13.192   288908.067

In [111]:
df_industry_mean.sort_values(by='매장수대비이용금액', ascending=False).iloc[:10]

   업종명 대분류            업종명         평균이용금액   평균매장수     매장수대비이용금액
30     운송업      정기 항공 운송업 3924368126.375   5.000 784873625.275
15     소매업            면세점 4343212196.000   9.875 439818956.557
13     소매업   기타 대형 종합 소매업 3146337175.875   9.562 329028724.275
0     서비스업        골프장 운영업 1304465137.075  22.200  58759690.859
22     소매업    차량용 주유소 운영업 5581664104.337 157.488  35441950.024
27     숙박업       휴양콘도 운영업  623644267.425  21.238  29365239.196
3     서비스업   기타 갬블링 및 베팅업   99828425.443   3.492  28589361.277
26     숙박업            호텔업 1290209462.750  45.763  28193596.564
14     소매업  기타음식료품위주종합소매업 1825488142.487  95.862  19042776.294
19     소매업           슈퍼마켓 5661582798.012 345.025  16409195.850

In [114]:
df_industry_jeju = df_industry[df_industry['시도명']=='제주시'].copy()
df_industry_jeju[df_industry_jeju['업종명']=='골프장 운영업']

        연도   월  시도명 업종명 대분류      업종명        이용금액  매장수    매장수대비이용금액
38    2017   1  제주시    서비스업  골프장 운영업   919555555   29 31708812.241
117   2017   2  제주시    서비스업  골프장 운영업   917873800   29 31650820.690
196   2017   3  제주시    서비스업  골프장 운영업  1521064851   29 52450512.103
275   2017   4  제주시    서비스업  골프장 운영업  1773792106   28 63349718.071
354   2017   5  제주시    서비스업  골프장 운영업  2190060918   28 78216461.357
433   2017   6  제주시    서비스업  골프장 운영업  1825991436   28 65213979.857
513   2017   7  제주시    서비스업  골프장 운영업  1468401599   28 52442914.250
593   2017   8  제주시    서비스업  골프장 운영업  1537777192   28 54920614.000
672   2017   9  제주시    서비스업  골프장 운영업  1615855911   28 57709139.679
752   2017  10  제주시    서비스업  골프장 운영업  1964858126   27 72772523.185
830   2017  11  제주시    서비스업  골프장 운영업  2080239022   27 77045889.704
909   2017  12  제주시    서비스업  골프장 운영업  1234287969   29 42561654.103
987   2018   1  제주시    서비스업  골프장 운영업   671582282   30 22386076.067
1066  2018   2  제주시    서비스업  골프장 운영업   616396935   30 20546564.500
1146  2018   3  제주시    서비스업  골프장 운영업  1332751757   30 44425058.567
1225  2018   4  제주시    서비스업  골프장 운영업  1697685133   30 56589504.433
1304  2018   5  제주시    서비스업  골프장 운영업  1914495764   30 63816525.467
1382  2018   6  제주시    서비스업  골프장 운영업  1754786342   30 58492878.067
1461  2018   7  제주시    서비스업  골프장 운영업  1349602526   30 44986750.867
1540  2018   8  제주시    서비스업  골프장 운영업  1545675919   30 51522530.633
1619  2018   9  제주시    서비스업  골프장 운영업  1495533604   30 49851120.133
1698  2018  10  제주시    서비스업  골프장 운영업  1813261979   30 60442065.967
1776  2018  11  제주시    서비스업  골프장 운영업  1905149156   30 63504971.867
1855  2018  12  제주시    서비스업  골프장 운영업  1192548664   27 44168469.037
1933  2019   1  제주시    서비스업  골프장 운영업   826307305   25 33052292.200
2011  2019   2  제주시    서비스업  골프장 운영업   872019284   25 34880771.360
2091  2019   3  제주시    서비스업  골프장 운영업  1386788349   26 53338013.423
2169  2019   4  제주시    서비스업  골프장 운영업  1624452558   26 62478944.538
2249  2019   5  제주시    서비스업  골프장 운영업  1919880562   26 73841560.077
2327  2019   6  제주시    서비스업  골프장 운영업  1760489904   26 67711150.154
2406  2019   7  제주시    서비스업  골프장 운영업  1358538650   26 52251486.538
2486  2019   8  제주시    서비스업  골프장 운영업  1516170053   26 58314232.808
2563  2019   9  제주시    서비스업  골프장 운영업  1286701756   26 49488529.077
2640  2019  10  제주시    서비스업  골프장 운영업  1943805172   26 74761737.385
2718  2019  11  제주시    서비스업  골프장 운영업  1919524179   26 73827853.038
2797  2019  12  제주시    서비스업  골프장 운영업  1374784543   26 52876328.577
2875  2020   1  제주시    서비스업  골프장 운영업   885323174   25 35412926.960
2954  2020   2  제주시    서비스업  골프장 운영업   940647738   25 37625909.520
3032  2020   3  제주시    서비스업  골프장 운영업  1160210935   26 44623497.500
3109  2020   4  제주시    서비스업  골프장 운영업  1433732282   26 55143549.308

모든 업종이...... 감소해..